﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>My Biography page</title>
        @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
        <link href="~/Content/responsive.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
                @Scripts.Render("~/bundles/modernizr")
        
        
    </head>
    <body>
        <header>
            <div class="allcolors"></div>

            <div class="content-wrapper">
                <div class="float-left">

                    
                </div>
                <div class="float-right">
                  
                    <nav>
                        <ul id="menu">
                            
                        </ul>
                    </nav> 
                    
                    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"></button>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                
                                <ul class="nav navbar-nav navbar-right">
                                    <li> @Html.Partial("_LoginPartial")</li>
                                    <li>@Html.ActionLink("За мен", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Снимки", "Images", "Home")</li>
                                    <li>@Html.ActionLink("Сваляне", "Downloads", "Home")</li>
                                    <li>@Html.ActionLink("Коментари", "Index", "GuestBook")</li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                     
                </div>
            </div>
            
        </header>
        
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

        <script src="all/jquery/jquery.min.js"></script>
        <script src="all/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="all/scrollreveal/scrollreveal.min.js"></script>
        <script src="all/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="js/creative.min.js"></script>
    </body>

</html>
