﻿@model Guestbook.Models.LoginModel

@{
    ViewBag.Title = "Вход";
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/Content/css/bootstrap.css" rel="stylesheet">
<link href="~/all/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<br />
<br />
<br />
<br />
<div id="dvicommnet" style="margin-left:20px">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>

    <section id="loginForm">
        <h2>@*Use a local account to log in.*@</h2>
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                @*<legend>Log in Form</legend>*@
                <ol>
                    <li>
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </li>
                    <li>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                    </li>
                </ol>
                <input type="submit" value="Вход" />
            </fieldset>
    <br />
            <p>
                @Html.ActionLink("Регистрация", "Register"), ако нямате профил.
            </p>
        }
    </section>

    @*<section class="social" id="socialLoginForm">
        <h2>Use another service to log in.</h2>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>*@

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>