﻿@model Guestbook.Models.LocalPasswordModel
@{
    ViewBag.Title = "Настройки на профила";
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/Content/css/bootstrap.css" rel="stylesheet">
<link href="~/all/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<br />
<br />
<br />
<br />
<div id="divcommnet" style="margin-left:20px">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>

    <p class="message-success">@ViewBag.StatusMessage</p>

    <p>Вие влязохте с, <strong>@User.Identity.Name</strong>.</p>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    {
        @Html.Partial("_SetPasswordPartial")
    }
    <br /> 
    @*<section id="externalLogins">
        @Html.Action("RemoveExternalLogins")

        <h3>Add an external login</h3>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>*@

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>