﻿@model Guestbook.Models.RegisterModel
@{
    ViewBag.Title = "Регистрация";
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/Content/css/bootstrap.css" rel="stylesheet">
<link href="~/all/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<br />
<br />
<br />
<br />
<div id="dvicommnet" style="margin-left:20px">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>Създай нов профил.</h2>
    </hgroup>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            @*<legend>Registration Form</legend>*@
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </li>
            </ol>
            <input type="submit" value="Регистрация" />
        </fieldset>
    }
    <br />

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>