﻿@{
    ViewBag.Title = "Create";
}

<h2>Add new entry</h2>
<form method="post" action="">
    <fieldset>
        Please enter your name:<br />
        <input type="text" name="Name" maxlength="200" />
        <br /><br />
        Please enter your message:<br />
        <textarea name="Message" rows="10" cols="40">
         
        </textarea>
        <br /><br />
        <input type="submit" value="Submit Entry" />
    </fieldset>

</form>
