/*body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 100px;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100px;
    width: 100px;
    line-height: 65px;  
    font-family: 'Bangers', cursive;
    font-size: 35px;
    
}

ul.topnav li a:hover:not(.active) {color: rgb(247, 184, 48);}

ul.topnav li a.active {background-color: rgb(247, 184, 48);}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

.allcolors
{
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background: -webkit-linear-gradient(left, #ff2853 0%, #ff2853 20%, #ffd502 20%, #ffd502 40%, #08239b 40%, #08239b 60%, #1cdc59 60%, #1cdc59 80%, #5c584c 80%, #5c584c 100%);
        background: linear-gradient(to right, #ff2853 0%, #ff2853 20%, #ffd502 20%, #ffd502 40%, #08239b 40%, #08239b 60%, #1cdc59 60%, #1cdc59 80%, #5c584c 80%, #5c584c 100%);
}

.yellow
{
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background-color: rgb(247, 184, 48);
}*/