/*body {margin:0;}

.topnav {
  overflow: hidden;
  background-color: red;
  
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 35px;
 
  
  line-height: 65px;  
  font-family: 'Bangers', cursive;
}



div.topnav  a:hover:not(.active) {color: rgb(247, 184, 48);}

div.topnav  a.active {background-color: rgb(247, 184, 48);}

div.topnav a.right {float: right;}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

.allcolors
{
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background: -webkit-linear-gradient(left, #ff2853 0%, #ff2853 20%, #ffd502 20%, #ffd502 40%, #08239b 40%, #08239b 60%, #1cdc59 60%, #1cdc59 80%, #5c584c 80%, #5c584c 100%);
        background: linear-gradient(to right, #ff2853 0%, #ff2853 20%, #ffd502 20%, #ffd502 40%, #08239b 40%, #08239b 60%, #1cdc59 60%, #1cdc59 80%, #5c584c 80%, #5c584c 100%);
}

.yellow
{
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background-color: rgb(247, 184, 48);
}


* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}


.mainImg{
  border-radius:8px;
  margin: auto;
  display: block; 
  padding: 5px;
  float:middle;
}

.container{
  text-align: center;
  float:center;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
  width: 100%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media (max-width: 800px) {
  .column {
      width: 50%;
  }
}


@media (max-width: 600px) {
  .column {
      width: 100%;
 }
}*/

