﻿@{
    ViewBag.Title = "Add new entry";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href="~/all/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <style>
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<div id="dvicommnet" style="margin-left:20px">
    <br />
    <br />
    <br />
    <br />
    
    <h2>Добави нов коментар:</h2>
    <form method="post" action="">
        <fieldset>

            Моля въведете ващето име: <br />
            <input type="text" name="Name" maxlength="200" />
            <br /><br />
            Моля напишете вашият коментар: <br />
            <textarea name="Message" rows="5" cols="40"></textarea>
            <br /><br />
            <input type="submit" value="Submit Entry" />
        </fieldset>
    </form>
</div>
</html>