﻿@*@{
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href="~/all/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        /*.navbar {
            margin-bottom: 0;
            border-radius: 0;
        }*/

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>


<h2>Edit</h2>
<form method="post" action="">
    <fieldset>
        
        <input type="text" name="Name" maxlength="200" value="@Model.Name" />
        <br /><br />
        Please edit your message: <br />
        <textarea name="Message" rows="10" cols="40">@Model.Message</textarea>
        <br /><br />
        <input type="submit" value="Edit Entry" />
    </fieldset>
</form>
<*@