﻿@{
    ViewBag.Title = "List";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href="~/all/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <style>
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>

</br>
</br>
<br />
<br />

<div style ="margin-left:20px">

<p>
    
    </p>
    @foreach (var entry in ViewBag.Entries)
    {
        <section class="contact">
            <header>
                <h3 id="headerh3">@entry.Message</h3>
            </header>
            <p id="paragraph1">
                публикувано от @entry.Name на @entry.DateAdded.ToLongDateString()
            </p>
        </section>
    }
    <center>
        <a id="buttonlink" href="/Guestbook/Create">
            Добави нов коментар
        </a>
    </center>
    </br>
</div>
</html>