﻿@{
    ViewBag.Title = "Downloads";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href="~/all/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body>

    <br>
    <br />
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Downloads</h1>
            <h2>Безплатно изтегляне на "снимка - изненада" !</h2>   
            
        </div>
    </div>
    
        <div class="container text-center">
            <div class="call-to-action">
                
                <a id="buttonlink" href="~/Images/header.jpg" download>Изтегли</a>
                
            </div>
            </br>
            
        </div>
    <script src="~/all/jquery/jquery.min.js"></script>
    <script src="~/all/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="~/all/scrollreveal/scrollreveal.min.js"></script>
    <script src="~/all/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/js/creative.min.js"></script>

    </body>
</html>