﻿@{
    ViewBag.Title = "Images";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href="~/all/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/all/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/all/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="~/all/magnific-popup/magnific-popup.css" rel="stylesheet">


    <style>
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<br />
<br />
<body>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Снимки</h1>
            <p>Снимки с мен и моята приятелка.</p>

        </div>
    </div>
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Images/photo/big/1.jpg" class="portfolio-box">
                        <img src="~/Images/photo/small/1.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Images/photo/big/2.jpg" class="portfolio-box">
                        <img src="~/Images/photo/small/2.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Images/photo/big/3.jpg" class="portfolio-box">
                        <img src="~/Images/photo/small/3.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Images/photo/big/4.jpg" class="portfolio-box">
                        <img src="~/Images/photo/small/4.jpg" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <script src="~/all/jquery/jquery.min.js"></script>
    <script src="~/all/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="~/all/scrollreveal/scrollreveal.min.js"></script>
    <script src="~/all/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/js/creative.min.js"></script>

</body>
</html>