﻿@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href="~/all/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  
    
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        /*.navbar {
            margin-bottom: 0;
            border-radius: 0;
        }*/

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<br />
<br />
<body>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <center>
                    <h1 id="homeHeading" style="margin-top:55px">Марио Векилов Георгиев</h1>
                    <img class="img-responsive"style="width:100%" src="~/Images/header.jpg" />
                </center>
                
            </div>
        </div>
    </header>
   

    <div class="jumbotron">
        <div class="container text-center">
            <h1>Това е моята страница.</h1>
            <h2>Проект по Клиент - сървър технологии.</h2>
        </div>
    </div>

    <div class="container-fluid bg-3 text-center col-lg-8 col-lg-offset-2 text-center">
        <h3>Уча в Нов Български университет специалност Информационни технологии. В 5 семестър 3 година.
					Този семестър изучавам курс Клиент - сървър технологии. Родом съм от Видин и от 5 години живея в София.</h3><br>

    </div><br>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h2 class="section-heading">За връзка с мен:</h2>
                </div>
               </div>
            <div class="row">
                <div class="text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>0899858296</p>
                </div>
                </div>
                <div class="text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p>mario.vekilov@gmail.com</p>
                </div>
                <div class="text-center">
                    <a href="https://www.facebook.com/Mario.Vekilov">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            <p><a href="https://www.facebook.com/Mario.Vekilov">Facebook </a></p>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

</body>
</html>