﻿@{
    ViewBag.Title = "List";
}

<h2>My Guestbook Entries</h2>
<p>
    <a href="/Gusetbook/Create">Add a new entry</a>
</p>
@foreach (var entry in ViewBag.Entries)
{
    <section class="contact">
        <header>
            <h3>@entry.Message</h3>
        </header>
        <p>
            Posted by @entry.Name on @entry.DateAdded.ToLongDateString()
        </p>
    </section>
}